.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.play {
  width: 20px;
}

.playbuttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}
